body {
    background-color: #ebeff5;
}
#logo {
    height: auto;
    width: 4rem;
    border-radius: 50%;
    border-width: 2px;
    border-color: #ccc;
    border-style: solid;
}
#total-orders {
    background-color: #4cb4c7;
}
#orders-delivered {
    background-color: #7abecc;
}
#orders-pending {
    background-color: #7cd1c0;
}
